<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='/js/index.js') }}s"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="shortcut icon" href="/resources/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/convert.css">
    <title>GPA Converter</title>
</head>

<body>
    <!-- Sidebar -->
    <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
        <a href="/" class="w3-bar-item w3-button" onclick="w3_close()">Home</a>
        <a href="/square" onclick="w3_close()" class="w3-bar-item w3-button">Square Root Calculator</a>
        <a href="/hypotenusa" onclick="w3_close()" class="w3-bar-item w3-button">Hypotenusa Calculator</a>
        <a href="/convert" onclick="w3_close()" class="w3-bar-item w3-button">GPA Converter</a>

    </nav>
    <header>
        <!-- Top menu -->
        <div class="w3-top" id="header">
            <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto" id="header">
                <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()" id="header">☰</div>
                <div class="w3-right w3-padding-16" id="header">Rendy</div>
                <div class="w3-center w3-padding-16" id="header">GPA Converter</div>
            </div>
        </div>
    </header>

    <article>
        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
            <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                <div class="wrapper" onclick="w3_close()">

                    <div class="box-wrapper" style="border: 1px none;">
                        <div style="display: block; width: 100%; border: 1px none;">
                            <form action="" method="POST">
                                <div id="input-wrapper">
                                    <input type="number" id="number" name="grade">
                                    <input type="submit" value="Convert">
                                </div>
                            </form>
                        </div>
                        <div style="border: 1px none;" id="div-image">

                        </div>
                    </div>
                    <button onclick="clears()">Reset Button</button>
                </div>


            </div>
            <div id="result">

            </div>
        </div>

    </article>


</body>

</html>